<body onload="initMapWithMarker(<%= @end.lat %>, <%= @end.lng %>, '<%= @route.endPoint %>')">
  <header>
    <h1>TAMUber Students</h1>
  </header> 
  <main>
    <h1>Trip Ended</h1>
    <div id="mapid" data-test-env="<%= Rails.env.test? %>"></div>
  </main>
</body>

