<h1> Go to pickup location </h1>

<div id="mapid"></div>




<%= javascript_include_tag "map" %>
<script type="text/javascript">
  initMapWithMarker(<%= @start.lat %>, <%= @start.lng %>); // this is your function in .js file
</script>