// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$accent: #500;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  background: $accent;

  h1 {
    max-width: 40rem;
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
  }
}

main > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

main {
  h1 {
    margin: 0.5rem;
    font-size: 2em;
    font-weight: bold;
    color: $accent;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    color: #333;
    text-align: left;

    tr {
      transition: background 300ms;
    }
    
    tr:nth-child(odd) {
      background: hsl(0, 0%, 92.5%);
    }

    th {
      color: #fff;
      background: $accent;
      
    }

    th, td {
      padding: 0.375em 1em;
    }
    
    
  }

  .no_headers {
    th {
      text-align: left;
      color: #222;
      background: none;
    }
  }

  form {
    text-align: center;
  }

  option {
    min-height: auto;
  }
}

#mapid {
  height: 20em;
}
