<body>
  <main>
    <h1>TAMUber Students</h1>
    <p>TAMUber is a service that provides rides around campus using self-driving vehicles.
    You can select a destination on the Texas A&amp;M campus and a vehicle will be dispatched to take you from
    a pickup location to your destination.</p>
    <p><a href='/trips/new' id='enter'>Get A Ride</a></p>
  </main>
</body>
