<h1> Welcome to TAMUber </h1>

<<<<<<< HEAD
<%= link_to("Enter site", '/trips/new') %>
=======
<p>TAMUber is a service that provides rides around campus using self-driving vehicles.
You can select a destination on the Texas A&amp;M campus and a vehicle will be dispatched to take you from
a pickup location to your destination.</p>

<a href='/trips/new' id='enter'>Get a ride</a>
>>>>>>> d51095e7b7a1e7dd8ebb2a147ccc674f06163f82
