<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <main>
    <h1>TAMUber Students</h1>
    <p>TAMUber is a service that provides rides around campus using self-driving vehicles.
    You can select a destination on the Texas A&amp;M campus and a vehicle will be dispatched to take you from
    a pickup location to your destination.</p>
    <p><a href='/trips/new' id='enter'>Get A Ride</a></p>
  </main>
</body>
